body
{
	background-color: white;
}
h1
{
	color: red;
	font-family: baskerville;
	font-size: 300%;
}
p
{
	color: yellow;
	font-family: baskerville;
	font-size: 160%;
}
.center
{
	text-align: center;
}

/* Black background Color to the Top Navigation */
.topnav
{
	background-color: #333;
    	height: 80px;
    	display: flex;
    	justify-content: center;
	overflow: hidden;
}

/* Styles the Links Inside the Navigation Bar */
.topnav a
{
	float: center;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17;
}

/* Change the Color of Links on Hover */
.topnav a:hover
{
	background-color: #ddd;
	color: black;
}

/* Add Color to Active/Current Link */
.topnav a.active
{
	background-color: #04AA6D;
	color: white;
}
